/*背景图片*/
.bg{
    background-size: 1200px 750px;
    background: url("https://img0.baidu.com/it/u=3468204619,457860515&fm=253&fmt=auto&app=138&f=JPEG?w=700&h=394");
    height: 100%;
    overflow: hidden;
}
/*剧本主题*/
.theme{
    display: flex;
    margin-top: 50px;
}
.theme .text{
    width: 610px;
}
.theme .text-hd{
    color: rgb(5, 39, 20);
    text-align: center;
    font: 700 40px "方正舒体";
}
.theme .text-bd{
    display: inline-block;
    background-color: cadetblue;
    box-shadow: 5px 5px 5px rgba(0,0,0,0.4);
    color: rgb(5, 39, 20);
    font: 700 18px/40px '';
    text-align: center;
    margin: 15px 0 0 20px;
    /*padding: 30px 0 50px 50px;*/
}
.point{
    margin-left: 70px;
    margin-top: 60px;
    height: 300px;
    width: 600px;
}
.point ul li{
    display: block;
    float: left;
    width: 200px;
    height: 150px;
    margin: 0 0 30px 50px;
}
.point ul li img{
    float: left;
    height: 100px;
    width: auto;
    margin-right: 10px;
}
.point ul li .pointlist{
    display: flex;
    text-align: center;
    font: 700 22px '微软雅黑';
    height: 100px;
    width: 100px;
    align-items: center;
    color: rgb(5, 39, 20);
}
/*人物选取典型职业*/
.roles{
    height: 880px;
}
.roles .roles-title{
    height: 234px;
    background: url("../images/人物选取典型职业.png") no-repeat;
    margin: -40px 0 -40px 0;
}
.roles .roles-list ul{
    width: 1700px;
}
.roles .roles-list ul li{
    float: left;
    display: inline-block;
}
.roles .roles-list ul li span{
    font: 700 22px '华光彩云_CNKI';
}
.roles .roles-list ul li img{
    width: auto;
    height: 550px;
}
/*沉浸式互动数字阅读作品展示*/
.works{
    /*margin-top: -80px;*/
}
.works .zhanshi-title{
    height: 234px;
    background: url(../images/成果视频展示.png) no-repeat;
    margin: -80px 0 -40px 0;
}
.works .myvideo video{
    width: 1200px;
    height: auto;
    margin: 0 30px;
}
