/*背景图片*/
.bg{
    background-size: 1200px 750px;
    background: url("https://img0.baidu.com/it/u=3468204619,457860515&fm=253&fmt=auto&app=138&f=JPEG?w=700&h=394");
    height: 100%;
    overflow: hidden;
}
/*目录*/
.catalogue{
    height: 74px;
    background-color: rgba(0,0,0,.3);
}

/*文创*/
.wenchuang{
    height: 2550px;
}
.wenchuang-title{
    height: 234px;
    background: url("../images/相关周边板块.png") no-repeat;
    margin: 0px 0 -80px 0;
}
.wenchuang-list ul li{
    display: block;
    float: left;
    margin-left: 50px;
    margin-right: 110px;
    margin-bottom: 50px;
}
.wenchuang-list ul li:nth-child(2n){
    margin-right: 0;
}
.wenchuang-list ul li span{
    font: 700 25px "华光彩云_CNKI";
    color: rgb(5, 39, 20);

}
.wenchuang-list ul li img{
    width: 500px;
    height: auto;
}

/*其他*/
.others{
    height: 500px;
}
.others-title{
    height: 234px;
    background: url("../images/其他.png") no-repeat;
    margin: -80px 0 -40px 0;
}
.others img{
    display: inline-block;
    float: left;
    width: 525px;
    height: auto;
}
.equ-title,
.chart-title{
    display: block;
    float: left;
    font: 700 22px "";
    color: rgb(5, 39, 20);
    margin: 122px 30px;
}
.characteristic{
    display: block;
    float: left;
    height: 290px;
    width: 495px;
}
.characteristic ul li{
    display: inline-block;
    float: left;
    margin: 15px;
}
.characteristic ul li img{
    height: 100px;
    width: auto;
}
.characteristic ul li span a{
    font: 400 18px "华光胖头鱼_CNKI";
    color: darkslategrey;
}
.characteristic ul li span a:hover{
    color: #c81523;
}